# dependencies
node_modules/

# builds
dist/
www/
frontend/android/app/build/
frontend/android/build/

# env
.env
backend/.env

# logs / os
*.log
.DS_Store

# ionic / capacitor build artifacts
frontend/.angular/
